<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Admin{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css">
    {% block head_css %}{% endblock %}
    {% block head %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('admin.index') }}">Admin Panel</a>
                <a href="{{ url_for('dashboard') }}" class="btn btn-primary navbar-btn">Back to Dashboard</a>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        {% block messages %}{% endblock %}
        <div class="row">
            <div class="col-sm-3">
                {% block menu %}{% endblock %}
            </div>
            <div class="col-sm-9">
                {% block page_body %}
                    {% block content %}{% endblock %}
                {% endblock %}
            </div>
        </div>
    </div>
    {% block tail %}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js"></script>
    {% block tail_js %}{% endblock %}
</body>
</html>