{% extends "base.html" %}
{% block title %}Reset Crime Cooldown{% endblock %}
{% block content %}
<div class="forums-header">
    <h1>Reset Crime Cooldown</h1>
</div>
<div class="forums-list">
    <form method="post">
        {{ form.hidden_tag() }}
        <div>
            {{ form.character_id.label }}<br>
            {{ form.character_id(size=10) }}
        </div>
        <div style="margin-top:1em;">
            {{ form.submit(class_="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}