{% extends "base.html" %}
{% block title %}Steal Money{% endblock %}
{% block content %}
<div class="profile-card-container">
    <div class="profile-card">
        <div class="profile-card-main">
            <div class="profile-card-header">
                <h1><i class="fas fa-user-secret"></i> Attempt to Steal Money</h1>
            </div>
            <form method="POST">
                {{ form.hidden_tag() }}
                <div style="margin-bottom:18px;">
                    {{ form.target_name.label }}<br>
                    {{ form.target_name(class_="form-control") }}
                </div>
                {{ form.submit(class_="btn btn-primary") }}
            </form>
        </div>
    </div>
</div>
{% endblock %}